<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>My Diet</ion-title>
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/login']">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <app-gauge></app-gauge>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-buttons class="ion-padding">
    <ion-button (click)="menu.slideTo(0)">BREAKFAST</ion-button>
    <ion-button [disabled]="true" (click)="menu.slideTo(1)">LUNCH</ion-button>
    <ion-button (click)="menu.slideTo(2)">DINNER</ion-button>
  </ion-buttons>
  <ion-slides #menu pager="false" [options]="slidesOptions">
    <ion-slide>
      <ion-list>
        <ion-item>
          <app-food-item></app-food-item>
        </ion-item>
        <ion-item>
          <app-food-item></app-food-item>
        </ion-item>
        <ion-item>
          <app-food-item></app-food-item>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list>
        <ion-item>
          <app-food-item></app-food-item>
        </ion-item>
        <ion-item>
          <app-food-item></app-food-item>
        </ion-item>
        <ion-item>
          <app-food-item></app-food-item>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list>
        <ion-item>
          <app-food-item></app-food-item>
        </ion-item>
        <ion-item>
          <app-food-item></app-food-item>
        </ion-item>
        <ion-item>
          <app-food-item></app-food-item>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button><ion-icon name="add"></ion-icon></ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon
          name="settings-outline"
          [routerLink]="['/folder/Profile']"
        ></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
