<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <app-gauge [diet]="diet" [total]="diet.total"></app-gauge>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <ion-button
          [disabled]="currentMenu === 0"
          [color]="currentMenu !== 0 ? 'dark': 'primary'"
          expand="block"
          (click)="menu.slideTo(0)"
          >BREAKFAST</ion-button
        >
      </ion-col>
      <ion-col size="4">
        <ion-button
          [disabled]="currentMenu === 1"
          [color]="currentMenu !== 1 ? 'dark': 'primary'"
          expand="block"
          (click)="menu.slideTo(1)"
        >
          LUNCH
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button
          [disabled]="currentMenu === 2"
          [color]="currentMenu !== 2 ? 'dark': 'primary'"
          expand="block"
          (click)="menu.slideTo(2)"
          >DINNER</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides
    (ionSlideDidChange)="slideChanged(menu)"
    #menu
    pager="false"
    [options]="slidesOptions"
  >
    <ion-slide>
      <ion-list *ngIf="diet">
        <ion-item *ngFor="let item of diet.breakfast">
          <app-food-item
            (clicked)="navigate(item)"
            [value]="item"
          ></app-food-item>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list *ngIf="diet">
        <ion-item *ngFor="let item of diet.lunch">
          <app-food-item
            (clicked)="navigate(item)"
            [value]="item"
          ></app-food-item>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list *ngIf="diet">
        <ion-item *ngFor="let item of diet.dinner">
          <app-food-item
            (clicked)="navigate(item)"
            [value]="item"
          ></app-food-item>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button><ion-icon name="add"></ion-icon></ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [routerLink]="['/add', currentMenu+1]">
        <ion-icon name="add-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink]="['/profile']">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
