<app-header [header]="'Edit Food'"></app-header>

<ion-content class="ion-padding-bottom">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <app-gauge [diet]="diet" [total]="total"></app-gauge>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="form" class="form">
    <ion-item class="ion-padding-start ion-padding-end ion-margin-top">
      <ion-label position="floating">Enter Quantity</ion-label>
      <ion-input type="number" formControlName="weight"></ion-input>
    </ion-item>
  </form>
  <ion-button
    [disabled]="form.invalid"
    (click)="save()"
    expand="full"
    class="ion-padding"
    >SAVE</ion-button
  >
  <ion-button
    (click)="remove()"
    expand="full"
    color="danger"
    class="ion-padding ion-margin-bottom"
    >REMOVE</ion-button
  >
  <ion-item>
    <app-food-item
      [value]="food"
      [isButton]="false"
      [showValue]="false"
    ></app-food-item>
  </ion-item>
</ion-content>
