.form {
  ion-item {
    --background: #eee;
    --color: #000;
  }

  ion-input {
    --color: #000;
    --placeholder-color: #000;
  }

  ion-button {
    --padding-top: 24px;
    --padding-bottom: 24px;
  }
}
