<ion-content>
  <ion-text color="light" class="ion-padding-top ion-text-center greeting">
    <h5>Welcome Back !</h5>
  </ion-text>

  <ion-text color="light" class="ion-padding-top ion-text-center greeting">
    <h1 class="app-title">MY DIET</h1>
  </ion-text>

  <div class="form">
    <ion-item class="ion-padding-start ion-padding-end ion-margin-top">
      <ion-label position="floating">Enter username</ion-label>
      <ion-input
        #email
        value="kodithuwakku.uom@gmail.com"
        type="email"
      ></ion-input>
    </ion-item>
    <ion-item class="ion-padding-start ion-padding-end ion-margin-top">
      <ion-label position="floating">Enter Password</ion-label>
      <ion-input #password value="admin" type="password"></ion-input>
    </ion-item>

    <ion-button
      (click)="login(email.value, password.value)"
      expand="full"
      class="ion-padding"
      >LOGIN</ion-button
    >
    <ion-button
      [routerLink]="['/signup']"
      fill="clear"
      expand="full"
      class="ion-padding ion-margin-top"
      >REGISTER</ion-button
    >
  </div>
</ion-content>
