<ion-content>
  <ion-title size="large" class="ion-padding-top ion-text-center greeting"
    >Welcome Back !</ion-title
  >
  <ion-title
    size="larger"
    class="ion-text-center ion-margin-top ion-padding-top app-title"
    >MY DIET</ion-title
  >

  <div class="form">
    <ion-item class="ion-padding-start ion-padding-end ion-margin-top">
      <ion-label position="floating">Enter username</ion-label>
      <ion-input value="kodithuwakku.uom@gmail.com" type="email"></ion-input>
    </ion-item>
    <ion-item class="ion-padding-start ion-padding-end ion-margin-top">
      <ion-label position="floating">Enter Password</ion-label>
      <ion-input value="admin" type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" class="ion-padding">LOGIN</ion-button>
    <ion-button fill="clear" expand="full" class="ion-padding ion-margin-top"
      >REGISTER</ion-button
    >
  </div>
</ion-content>
