.container {
  width: 50vw;
  height: 50vw;
  background: var(--ion-color-secondary);
  border: 10px solid white;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;

  .center {
    text-align: center;
    font-size: 1.5rem;
  }
}
