<ion-card (click)="navigate()">
  <div class="img"><img [src]="'/assets/images/'+value.id+'.jpg'" /></div>

  <div class="info">
    <ion-label class="title"
      ><h1>{{ value.name }}</h1></ion-label
    >
    <div class="breakdown">
      <table>
        <tr>
          <td class="label">Protiene</td>
          <td class="value">{{ value.protine }}</td>
        </tr>
        <tr>
          <td class="label">Carbohydrates</td>
          <td class="value">{{ value.carbohydrate }}</td>
        </tr>
        <tr>
          <td class="label">Fat</td>
          <td class="value">{{ value.fat }}</td>
        </tr>
      </table>
      <div *ngIf="showValue" class="size">
        {{ (value.foodQuantity || 0).toFixed(0) }}g
      </div>
    </div>
  </div>
</ion-card>
