ion-card {
  ion-fab {
    color: var(--ion-color-primary-contrast);
    width: 50px;
    height: 50px;
    background: var(--ion-color-primary);
    border: 2px dotted var(--ion-color-secondary);
    border-radius: 50%;
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: center;
  }
}
