<ion-card (click)="navigate()">
  <div class="img"><img src="/assets/images/salad.jpg" /></div>

  <div class="info">
    <div class="title">Vegetable Soup</div>
    <div class="breakdown">
      <table>
        <tr>
          <td class="label">Protiene</td>
          <td class="value">243</td>
        </tr>
        <tr>
          <td class="label">Carbohydrates</td>
          <td class="value">80</td>
        </tr>
        <tr>
          <td class="label">Fat</td>
          <td class="value">125</td>
        </tr>
      </table>
      <div *ngIf="showValue" class="size">100g</div>
    </div>
  </div>
</ion-card>
