<app-header [header]="'Progress'"></app-header>

<ion-content>
  <div [formGroup]="form" class="form">
    <ion-text>
      <h1 class="ion-padding-start">Record Your Progress</h1>
    </ion-text>
    <ion-item class="ion-padding-start ion-padding-end ion-margin-top">
      <ion-label>Date</ion-label>
      <ion-datetime
        mode="md"
        formControlName="date"
        displayFormat="MM DD YY"
        placeholder="Select Date"
      ></ion-datetime>
    </ion-item>

    <ion-item class="ion-padding-start ion-padding-end ion-margin-top">
      <ion-label position="floating">Enter weight(kg)</ion-label>
      <ion-input formControlName="weight" type="number"></ion-input>
    </ion-item>
    <ion-button
      [disabled]="form.invalid"
      (click)="save()"
      expand="full"
      class="ion-padding"
      >SAVE</ion-button
    >
  </div>
</ion-content>
