<ion-content>
  <ion-text color="light" class="ion-padding-top ion-text-center greeting">
    <h5>Welcome !</h5>
  </ion-text>

  <ion-text color="light" class="ion-padding-top ion-text-center greeting">
    <h1 class="app-title">MY DIET</h1>
  </ion-text>

  <div class="form">
    <ion-item class="ion-padding-start ion-padding-end ion-margin-top">
      <ion-label position="floating">Enter username</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item class="ion-padding-start ion-padding-end ion-margin-top">
      <ion-label position="floating">Enter Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item class="ion-padding-start ion-padding-end ion-margin-top">
      <ion-label position="floating">Enter Confirm Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" class="ion-padding">REGISTER</ion-button>
    <ion-button
      [routerLink]="['/login']"
      fill="clear"
      expand="full"
      class="ion-padding ion-margin-top"
      >LOGIN</ion-button
    >
  </div>
</ion-content>
