ion-content {
  --background: url('/assets/images/background.svg') no-repeat 100% 100%;

  .form {
    width: 100%;
    ion-item {
      --background: #eee;
      --color: #000;
    }

    ion-label {
      text-overflow: unset;
      white-space: unset;
    }

    ion-input {
      --color: #000;
      --placeholder-color: #000;
    }

    ion-button {
      --padding-top: 24px;
      --padding-bottom: 24px;
    }
  }
}
