<app-header [header]="'Profile'"></app-header>

<ion-content class="ion-no-margin ion-no-padding">
  <ion-slides #slides>
    <ion-slide>
      <form [formGroup]="form" class="form ion-padding-start ion-padding-end">
        <ion-text>
          <h1>Basic Information</h1>
        </ion-text>
        <ion-item class="ion-margin-top">
          <ion-label position="floating">Height(cm)</ion-label>
          <ion-input formControlName="height" type="number"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-top">
          <ion-label position="floating">Weight(kg)</ion-label>
          <ion-input formControlName="weight" type="number"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-top">
          <ion-label position="floating">Age</ion-label>
          <ion-input formControlName="age" type="number"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-top">
          <ion-label>I'm a vegetarian</ion-label>
          <ion-checkbox color="secondary" slot="start" formControlName="isVeg"></ion-checkbox>
        </ion-item>
        <ion-list class="ion-margin-top">
          <ion-radio-group formControlName="gender">
            <ion-list-header>Gender</ion-list-header>

            <ion-item>
              <ion-label>Male</ion-label>
              <ion-radio value="0"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Female</ion-label>
              <ion-radio value="1"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-button
          [disabled]="form.invalid"
          expand="full"
          (click)="next(slides)"
          class="ion-margin-top"
          >NEXT</ion-button
        >
      </form>
    </ion-slide>
    <ion-slide>
      <form
        [formGroup]="activityForm"
        class="form ion-padding-start ion-padding-end"
      >
        <ion-text>
          <h1>How Active You Are ?</h1>
        </ion-text>
        <ion-list class="ion-margin-top">
          <ion-radio-group formControlName="activityLevel">
            <ion-item>
              <ion-label
                ><h2>Not Very Active</h2>
                <ion-text color="medium"
                  ><p>
                    Seated work with no option of moving arround and little or
                    no stenuous leisure activity
                  </p></ion-text
                ></ion-label
              >
              <ion-radio value="0"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label
                ><h2>Lightly Active</h2>
                <ion-text color="medium"
                  ><p>
                    Seated work with discretion and requirement to move arround
                    but little or no stenous leisure activity
                  </p></ion-text
                ></ion-label
              >
              <ion-radio value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label
                ><h2>Active</h2>
                <ion-text color="medium"
                  ><p>
                    Standing work(e.g. Housework Shop assitent etc.)
                  </p></ion-text
                ></ion-label
              >
              <ion-radio value="2"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label
                ><h2>Very Active</h2>
                <ion-text color="medium"
                  ><p>Strenous work or highly leisure acitivty</p></ion-text
                ></ion-label
              >
              <ion-radio value="3"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label
                ><h2>Extra Active</h2>
                <ion-text color="medium"
                  ><p>
                    Very hard exercise, physical job or sports 6=7 days/week
                  </p></ion-text
                ></ion-label
              >
              <ion-radio value="4"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label
                ><h2>Professional</h2>
                <ion-text color="medium"><p>Athlete</p></ion-text></ion-label
              >
              <ion-radio value="5"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-button
          [disabled]="activityForm.invalid"
          expand="full"
          (click)="next(slides)"
          class="ion-margin-top"
          >NEXT</ion-button
        >
      </form>
    </ion-slide>
    <ion-slide>
      <form
        [formGroup]="goalForm"
        class="form ion-padding-start ion-padding-end"
      >
        <ion-text>
          <h1>I Want To</h1>
        </ion-text>
        <ion-list class="ion-margin-top">
          <ion-radio-group formControlName="goal">
            <ion-item>
              <ion-label>Loose Weight</ion-label>
              <ion-radio value="0"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Maintain Weight</ion-label>
              <ion-radio value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Gain Weight</ion-label>
              <ion-radio value="2"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-button
          [disabled]="goalForm.invalid"
          expand="full"
          (click)="next(slides)"
          class="ion-margin-top"
          >NEXT</ion-button
        >
      </form>
    </ion-slide>
    <ion-slide>
      <form
        [formGroup]="targetForm"
        class="form ion-padding-start ion-padding-end"
      >
        <ion-text>
          <h1>Save Profile</h1>
        </ion-text>
        <ion-list *ngIf="goalForm.value.goal != '1'" class="ion-margin-top">
          <ion-radio-group formControlName="pace">
            <ion-list-header>What is your weekly goal?</ion-list-header>
            <ion-item>
              <ion-label>
                <h2>
                  {{goalForm.value.goal == '0' ? 'Reduce': 'Gain'}} 0.25 kg per
                  week
                </h2>
                <h3>Easy</h3>
              </ion-label>
              <ion-radio value="0"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>
                <h2>
                  {{goalForm.value.goal == '0' ? 'Reduce': 'Gain'}} 0.5 kg per
                  week
                </h2>
                <h3>Recommended</h3>
              </ion-label>
              <ion-radio value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2>
                  {{goalForm.value.goal == '0' ? 'Reduce': 'Gain'}} 0.75 kg per
                  week
                </h2>
                <h3>Hard</h3>
              </ion-label>
              <ion-radio value="2"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2>
                  {{goalForm.value.goal == '0' ? 'Reduce': 'Gain'}} 1 kg per
                  week
                </h2>
                <h3>Very Hard</h3>
              </ion-label>
              <ion-radio value="3"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-item *ngIf="goalForm.value.goal != '1'" class="ion-margin-top">
          <ion-label position="floating">Target Weight(kg)</ion-label>
          <ion-input formControlName="target" type="number"></ion-input>
        </ion-item>
        <ion-button
          [disabled]="form.invalid || activityForm.invalid || targetForm.invalid || goalForm.invalid"
          expand="full"
          (click)="save()"
          class="ion-margin-top"
          >SAVE</ion-button
        >
      </form>
    </ion-slide>
  </ion-slides>
</ion-content>
