<app-header [header]="'Add Food'"></app-header>

<ion-content>
  <ion-list>
    <ion-item>
      <app-food-item [showValue]="false"></app-food-item>
    </ion-item>
    <ion-item>
      <app-food-item [showValue]="false"></app-food-item>
    </ion-item>
    <ion-item>
      <app-food-item [showValue]="false"></app-food-item>
    </ion-item>
    <ion-item>
      <app-food-item [showValue]="false"></app-food-item>
    </ion-item>
    <ion-item>
      <app-food-item [showValue]="false"></app-food-item>
    </ion-item>
  </ion-list>
</ion-content>
